/* Контейнер для кнопки "Добавить вакансию" */
.addJobButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem; /* mt-6 */
}

/* Контейнер для кнопки "Сбросить все фильтры" */
.resetButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Отступ от кнопки "Добавить вакансию" */
}

/* Общие стили для обеих кнопок */
.addJobButton,
.resetButton {
    display: inline-flex;
    align-items: center;
    justify-content: center; /* Центрируем текст внутри кнопки */
    padding: 0.75rem 1.5rem; /* Одинаковый padding */
    font-size: 1rem; /* Одинаковый размер шрифта */
    font-weight: 600; /* Одинаковый вес шрифта */
    border-radius: 0.375rem; /* Одинаковые скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Одинаковая тень */
    transition: all 0.2s ease-in-out; /* Одинаковый переход */
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    width: 250px; /* Фиксированная ширина для одинакового размера */
    text-align: center; /* Центрируем текст */
}

/* Стили для кнопки "Добавить вакансию" */
.addJobButton {
    background-color: #4f46e5; /* Синий фон */
    color: #ffffff; /* Белый текст */
}

.addJobButton:hover {
    background-color: #2563eb; /* Более темный синий на ховер */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Увеличенная тень */
}

/* Стили для кнопки "Сбросить все фильтры" */
.resetButton {
    background-color: #f472b6; /* Розовый фон */
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.resetButton:hover {
    background-color: #ec4899; /* Более темный розовый на ховер */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
/* Стили для кнопки "Личный кабинет" */
.loginButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #8b5cf6; /* Фиолетовый фон */
    color: #ffffff;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.loginButton:hover {
    background-color: #7c4dec; /* Более темный фиолетовый */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}