.profileContainer {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.profileCard {
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logoutButton {
    padding: 0.5rem 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: medium;
    transition: background-color 0.2s;
}

.logoutButton:hover {
    background-color: #d32f2f;
}

.purplebox {
    background-color: #4f46e5;
    height: 198px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.headerText {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.editButton {
    padding: 0.5rem 1rem;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: medium;
    transition: background-color 0.2s;
}

.editButton:hover {
    background-color: #4338ca;
}
.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}